.heading1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    text-align: center;
    background-color: rgb(170, 116, 66); padding: 20px;
    
    border: 1px solid #ccc;       
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;



    
    


}


.register{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 549;
    text-align: center;
    background-color: rgb(190, 127, 68);

     }
  
  
    .form,.register{
    padding: 20px;
    border: 1px solid #ccc;       
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;






     }

    

   
        
        



.body{

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('455991b7c60664af3d1e13cfb9e6939etrain.jpg');
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-attachment: fixed;
    
    


}

